*{
    overflow: hidden;
}
.userhome-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: absolute;
    margin-left: -150px;
    margin-top: -30px;
    height:65px;
    margin-bottom: 300px;
    padding:10px;
}
.userhome-nav input{
    width: 30%;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    color:#565656;
    border-style: none;
    background-color: #d6d6d6;
}
.right-nav{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    margin-top: 10px;
    margin-left: 1280px;
}

.outlet{
    margin-top: 40px;
}

